/.*
/src/styleguide/img
/src/styleguide/assets/fabricator
/src/styleguide/assets/files
/src/styleguide/data
/src/styleguide/example-pages
/src/styleguide/locales
/src/styleguide/materials
/src/styleguide/materials-data
/src/styleguide/views
/src/styleguide/index.html
