<footer>
  <div class="container-fluid footer-service">
    <h3>©2015 {{t 'styleguide.chancellery'}}</h3>
    <nav>
      <ul>
        <li>
          <a href="https://github.com/swiss/styleguide/releases/latest">{{t 'styleguide.version'}} {{data 'version'}}</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="container-fluid">
    <hr class="footer-line visible-xs">
    <img class="visible-xs" src="{{#if baseurl}}{{baseurl}}/{{/if}}../img/logo-CH.svg" onerror="this.onerror=null; this.src='{{#if baseurl}}{{baseurl}}/{{/if}}../img/logo-CH.png'" alt="back to home">
  </div>

  <address>
    <span class="hidden-xs">©2015 {{t 'styleguide.chancellery'}}</span>
    <nav class="pull-right">
      <ul>
        <li><a href="{{t 'styleguide.disclaimer.link'}}">{{t 'styleguide.disclaimer.text'}}</a></li>
      </ul>
    </nav>
  </address>
</footer>
