@charset "UTF-8";

//=============================================================================
// COLORS
//=============================================================================

/*doc
---
title: Colors
name: b-colors
category: Base Layout > Visual
---

The predefined color range is intended to make the family of Confederation websites instantly recognizable, to emphasize individual elements and interactions, and is also used for orientation purposes. The color range employed is a CD element, and its use is mandatory.

Three colors are used: the red shade of the Confederation logo, which is complemented by a lighter shade of red, a blue tone, and a range of gray shades.

The red color is used in the red line which marks the bottom of the header, and it is also used to indicate a selection in the navigation as well as for mouseovers on links. Otherwise, various shades of gray are used. For instance, the headlines and the body copy are presented in a dark shade of gray.

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"><div style="background:#DC0018"><br><br><br><br></div><pre class="text-center">$venetian-red</pre></div>
    <div class="col-sm-3"><div style="background:#F7001D"><br><br><br><br></div><pre class="text-center">$red</pre></div>
    <div class="col-sm-3"><div style="background:#006699"><br><br><br><br></div><pre class="text-center">$cerulean</pre></div>
    <div class="col-sm-3"><div style="background:#e7edef"><br><br><br><br></div><pre class="text-center">$solitude</pre></div>
  </div>
  <div class="row">
    <div class="col-sm-3"><div style="background:#f2f7f9"><br><br><br><br></div><pre class="text-center">$clear-day</pre></div>
    <div class="col-sm-3"><div style="background:#000000"><br><br><br><br></div><pre class="text-center">$black</pre></div>
    <div class="col-sm-3"><div style="background:#333333"><br><br><br><br></div><pre class="text-center">$night-rider</pre></div>
    <div class="col-sm-3"><div style="background:#454545"><br><br><br><br></div><pre class="text-center">$coal</pre></div>
  </div>
  <div class="row">
    <div class="col-sm-3"><div style="background:#757575"><br><br><br><br></div><pre class="text-center">$empress</pre></div>
    <div class="col-sm-3"><div style="background:#CCCCCC"><br><br><br><br></div><pre class="text-center">$silver</pre></div>
    <div class="col-sm-3"><div style="background:#D5D5D5"><br><br><br><br></div><pre class="text-center">$light-grey</pre></div>
    <div class="col-sm-3"><div style="background:#E5E5E5"><br><br><br><br></div><pre class="text-center">$gainsboro</pre></div>
  </div>
  <div class="row">
    <div class="col-sm-3"><div style="background:#F5F5F5"><br><br><br><br></div><pre class="text-center">$smoke</pre></div>
    <div class="col-sm-3"><div style="background:#FFFFFF"><br><br><br><br></div><pre class="text-center">$white</pre></div>
  </div>
</div>

*/

$venetian-red:                               #DC0018;
$red:                                        #F7001D;
$mocassin:                                   #fffab2;
$cerulean:                                   #006699;
$pattens-blue:                               #D8E8EF;
$solitude:                                   #e7edef;
$clear-day:                                  #f2f7f9;

$black:                                      #000000;
$night-rider:                                #333333; // gray 80%;
$coal:                                       #454545; // gray 73%;
$empress:                                    #757575; // gray 54%;
$silver:                                     #CCCCCC; // gray 20%;
$light-grey:                                 #D5D5D5; // gray 16%;
$gainsboro:                                  #E5E5E5; // gray 10%;
$smoke:                                      #F5F5F5; // gray 4%;
$white:                                      #FFFFFF;


// TYPOGRAPHY
//=============================================================================

//** Fonts variables
$frutiger-regular:    'Frutiger Neue Regular';
$frutiger-bold:       'Frutiger Neue Bold';
$frutiger-italic:     'Frutiger Neue Italic';
$frutiger-light:      'Frutiger Neue Light';
$admin-icons:         'Admin Icons';

$font-family-sans-serif-light:  $frutiger-light, Arial, sans-serif !default;
$font-family-sans-serif-bold:  $frutiger-bold, Arial, sans-serif !default;
$font-family-sans-serif-italic:  $frutiger-italic, Arial, sans-serif !default;

