/*doc
---
title: Logo
name: a-logo
category: Base Layout > Visual
---

The designation of a website allows the user to recognize at a glance who the originator of the site is together with the website's content and purpose.

The designation consists of the Confederation logo (coat of arms and the four-language wordmark) and the name of the organizational unit, including its abbreviation (e.g. EDA), or as a short form (e.g. MeteoSchweiz).

These two components are separated from one another by a vertical line. For smartphones only the coat of arms from the Confederation logo is used in the header. The name of the organizational unit can be abbreviated. The appropriate HTML code for this is provided together with the Globalnavigation.

The full form of the Confederation logo is given in the Footer.

The logo is a CD element. Its use is mandatory, and its representation may not be changed in any way.

```html_example
<a href="#" class="brand hidden-xs">
  <img src="img/logo-CH.png" alt="The Federal Authorities of the Swiss Confederation, www.admin.ch" />
  <h1>Department of the Environment,<br> Transport, Energy and Communications</h1>
</a>
```

*/

.brand {
  img {
    max-width: 235px;
    margin: 0;
    padding-right: 2em;
    border-right: 1px solid $gainsboro;
    float: left;
  }
  h1 {
    color: $black;
    display: inline;
    font-family: $frutiger-bold;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.3;
    margin: 0;
    padding-left: 2.5em;
    float: left;
  }
  &:hover {text-decoration: none;}
}