/*doc
---
title: Logo
name: logo
category: Base Layout > Visual
---


```html_example
<a href="#" id="logo" class="hidden-phone">
  <img src="img/logo-CH.png" alt="The Federal Authorities of the Swiss Confederation, www.admin.ch" />
  <h1>Department of the Environment<br>, Transport, Energy and Communications </h1>
</a>
```

*/