/*doc
---
title: Fieldsets
name: g-fieldsets
category: Base Layout > Forms
---

Fieldsets are used to separate content in a form.

```html_example
<form action="" role="form">
  <fieldset>
    <legend>Legend of fieldset</legend>
  </fieldset>
</form>
```

*/