/*doc
---
title: Icons
name: f-icons
category: Base Layout > Visual
---

The icons used are one-color and two-dimensional. They are provided as a web font which is to be found in the resources as a TrueType font.

For **only-icon** element, use a `<span>` with the global `.icon` class followed by the more specific class.

For **inside-icon** element, use the global `.icon` and `.icon--before` or `.icon--after` class followed by the more specific class.

```html_example
<!-- only-icon element -->
<span class="icon icon--pdf"></span> My document <br>

<!-- inside-icon element -->
<a href="doc.pdf" class="icon icon--before icon--pdf">My document</a>
```

|  Icon                                                    |  Class                                       |
|----------------------------------------------------------|----------------------------------------------|
|  <span class="icon icon--exclam"></span>                 |  <pre>icon--exclam</pre>                     |
|  <span class="icon icon--arrow-right"></span>            |  <pre>icon--arrow-right</pre>                |
|  <span class="icon icon--arrow-left"></span>             |  <pre>icon--arrow-left</pre>                 |
|  <span class="icon icon--arrow-top"></span>              |  <pre>icon--arrow-top</pre>                  |
|  <span class="icon icon--arrow-bottom"></span>           |  <pre>icon--arrow-bottom</pre>               |
|  <span class="icon icon--left"></span>                   |  <pre>icon--left</pre>                       |
|  <span class="icon icon--right"></span>                  |  <pre>icon--right</pre>                      |
|  <span class="icon icon--top"></span>                    |  <pre>icon--top</pre>                        |
|  <span class="icon icon--bottom"></span>                 |  <pre>icon--bottom</pre>                     |
|  <span class="icon icon--screen"></span>                 |  <pre>icon--screen</pre>                     |
|  <span class="icon icon--notebook"></span>               |  <pre>icon--notebook</pre>                   |
|  <span class="icon icon--tablet-portrait"></span>        |  <pre>icon--tablet-portrait</pre>            |
|  <span class="icon icon--tablet-landscape"></span>       |  <pre>icon--tablet-landscape</pre>           |
|  <span class="icon icon--smartphone-portrait"></span>    |  <pre>icon--smartphone-portrait</pre>        |
|  <span class="icon icon--smartphone-landscape"></span>   |  <pre>icon--smartphone-landscape</pre>       |
|  <span class="icon icon--eye"></span>                    |  <pre>icon--eye</pre>                        |
|  <span class="icon icon--trash"></span>                  |  <pre>icon--trash</pre>                      |
|  <span class="icon icon--cart"></span>                   |  <pre>icon--cart</pre>                       |
|  <span class="icon icon--star"></span>                   |  <pre>icon--star</pre>                       |
|  <span class="icon icon--tools"></span>                  |  <pre>icon--tools</pre>                      |
|  <span class="icon icon--settings"></span>               |  <pre>icon--settings</pre>                   |
|  <span class="icon icon--list"></span>                   |  <pre>icon--list</pre>                       |
|  <span class="icon icon--list-alt"></span>               |  <pre>icon--list-alt</pre>                   |
|  <span class="icon icon--menu"></span>                   |  <pre>icon--menu</pre>                       |
|  <span class="icon icon--print"></span>                  |  <pre>icon--print</pre>                      |
|  <span class="icon icon--search"></span>                 |  <pre>icon--search</pre>                     |
|  <span class="icon icon--doc"></span>                    |  <pre>icon--doc</pre>                        |
|  <span class="icon icon--pdf"></span>                    |  <pre>icon--pdf</pre>                        |
|  <span class="icon icon--word"></span>                   |  <pre>icon--word</pre>                       |
|  <span class="icon icon--excel"></span>                  |  <pre>icon--excel</pre>                      |
|  <span class="icon icon--calendar"></span>               |  <pre>icon--calendar</pre>                   |
|  <span class="icon icon--rss"></span>                    |  <pre>icon--rss</pre>                        |
|  <span class="icon icon--external"></span>               |  <pre>icon--external</pre>                   |
|  <span class="icon icon--facebook"></span>               |  <pre>icon--facebook</pre>                   |
|  <span class="icon icon--twitter"></span>                |  <pre>icon--twitter</pre>                    |
|  <span class="icon icon--google"></span>                 |  <pre>icon--google</pre>                     |
|  <span class="icon icon--play"></span>                   |  <pre>icon--play</pre>                       |
|  <span class="icon icon--pause"></span>                  |  <pre>icon--pause</pre>                      |
|  <span class="icon icon--backward"></span>               |  <pre>icon--backward</pre>                   |
|  <span class="icon icon--forward"></span>                |  <pre>icon--forward</pre>                    |
|  <span class="icon icon--step-backward"></span>          |  <pre>icon--step-backward</pre>              |
|  <span class="icon icon--step-forward"></span>           |  <pre>icon--step-forward</pre>               |
|  <span class="icon icon--fast-backward"></span>          |  <pre>icon--fast-backward</pre>              |
|  <span class="icon icon--fast-forward"></span>           |  <pre>icon--fast-forward</pre>               |
|  <span class="icon icon--corner"></span>                 |  <pre>icon--corner</pre>                     |
|  <span class="icon icon--square"></span>                 |  <pre>icon--square</pre>                     |
|  <span class="icon icon--disc"></span>                   |  <pre>icon--disc</pre>                       |
|  <span class="icon icon--less"></span>                   |  <pre>icon--less</pre>                       |
|  <span class="icon icon--greater"></span>                |  <pre>icon--greater</pre>                    |
|  <span class="icon icon--power"></span>                  |  <pre>icon--power</pre>                      |
|  <span class="icon icon--root"></span>                   |  <pre>icon--root</pre>                       |
|  <span class="icon icon--close"></span>                  |  <pre>icon--close</pre>                      |

*/

.icon {
  &.icon--before:before {font-family: $admin-icons;}
  &.icon--after:after {font-family: $admin-icons;}
}

span.icon {font-family: $admin-icons;}

$icon-list: (
  exclam                  '!',
  arrow-right             '$',
  google                  '+',
  bottom                  ',',
  left                    '.',
  disc                    '0',
  screen                  '1',
  notebook                '2',
  smartphone-portrait     '3',
  smartphone-landscape    '4',
  tablet-portrait         '5',
  tablet-landscape        '6',
  right                   ':',
  top                     ';',
  less                    '<',
  greater                 '>',
  eye                     '?',
  pdf                     'A',
  trash                   'B',
  cart                    'C',
  star                    'F',
  list                    'I',
  message                 'M',
  print                   'P',
  rss                     'R',
  search                  'S',
  word                    'W',
  excel                   'X',
  power                   '^',
  calendar                'c',
  doc                     'd',
  pause                   'e',
  facebook                'f',
  step-backward           'g',
  step-forward            'h',
  list-alt                'i',
  backward                'j',
  forward                 'k',
  external                'l',
  menu                    'm',
  corner                  'o',
  tools                   'p',
  play                    'q',
  settings                's',
  twitter                 't',
  fast-backward           'z',
  fast-forward            'u',
  root                    'v',
  square                  'w',
  close                   'x',
  arrow-bottom            'ä',
  arrow-left              'ö',
  arrow-top               'ü'
);

@each $value in $icon-list {
  span.icon.icon--#{nth($value, 1)}:after {content: nth($value, 2);}
  .icon--before.icon--#{nth($value, 1)}:before {
    content: nth($value, 2);
    padding-right: 3px;
  }
  .icon--after.icon--#{nth($value, 1)}:after {
    content: nth($value, 2);
    padding-left: 3px;
  }
}


/*doc
---
title: Form icons
name: form-icons
parent: f-icons
category: Base Layout > Visual
---

Use the global `.form-icon` class followed by the more specific class

```html_example
<span class="form-icon form-icon--checkbox-checked"></span> My checkbox
```

|  Form icon                                                               |                                                              |
|--------------------------------------------------------------------------|--------------------------------------------------------------|
|  <span class="form-icon form-icon--checkbox-checked"></span>             |  <pre>form-icon form-icon--checkbox-checked</pre>            |
|  <span class="form-icon form-icon--checkbox-checked-focus"></span>       |  <pre>form-icon form-icon--checkbox-checked-focus</pre>      |
|  <span class="form-icon form-icon--checkbox-checked-inactive"></span>    |  <pre>form-icon form-icon--checkbox-checked-inactive</pre>   |
|  <span class="form-icon form-icon--checkbox-unchecked"></span>           |  <pre>form-icon form-icon--checkbox-unchecked</pre>          |
|  <span class="form-icon form-icon--checkbox-unchecked-focus"></span>     |  <pre>form-icon form-icon--checkbox-unchecked-focus</pre>    |
|  <span class="form-icon form-icon--checkbox-unchecked-inactive"></span>  |  <pre>form-icon form-icon--checkbox-unchecked-inactive</pre> |
|  <span class="form-icon form-icon--radio-checked"></span>                |  <pre>form-icon form-icon--radio-checked</pre>               |
|  <span class="form-icon form-icon--radio-checked-focus"></span>          |  <pre>form-icon form-icon--radio-checked-focus</pre>         |
|  <span class="form-icon form-icon--radio-checked-inactive"></span>       |  <pre>form-icon form-icon--radio-checked-inactive</pre>      |
|  <span class="form-icon form-icon--radio-unchecked"></span>              |  <pre>form-icon form-icon--radio-unchecked</pre>             |
|  <span class="form-icon form-icon--radio-unchecked-focus"></span>        |  <pre>form-icon form-icon--radio-unchecked-focus</pre>       |
|  <span class="form-icon form-icon--radio-unchecked-inactive"></span>     |  <pre>form-icon form-icon--radio-unchecked-inactive</pre>    |
|  <span class="form-icon form-icon--select-dropdown"></span>              |  <pre>form-icon form-icon--select-dropdown</pre>             |

*/


.form-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url(../img/form-icons.svg);
  background-image: url(../img/form-icons.png)\9 // IE6, IE7 and IE8 fallback
}

.form-icon--checkbox-checked {background-position: 0 -45px;}
.form-icon--checkbox-checked-focus {background-position: 0 0;}
.form-icon--checkbox-checked-inactive {background-position: 0 -540px;}
.form-icon--checkbox-unchecked {background-position: 0 -90px;}
.form-icon--checkbox-unchecked-focus {background-position: 0 -360px;}
.form-icon--checkbox-unchecked-inactive {background-position: 0 -450px;}
.form-icon--radio-checked {background-position: 0 -225px;}
.form-icon--radio-checked-focus {background-position: 0 -180px;}
.form-icon--radio-checked-inactive {background-position: 0 -495px;}
.form-icon--radio-unchecked {background-position: 0 -270px;}
.form-icon--radio-unchecked-focus {background-position: 0 -315px;}
.form-icon--radio-unchecked-inactive {background-position: 0 -405px;}
.form-icon--select-dropdown {background-position: 0 -129px; height: 26px; position: relative;}
//.form-icon--error {background-position: 0 -375px; width: 17px; height: 25px;}

