/*doc
---
title: Images
name: images
category: Base Layout > Visual
---

Images in landscape format have an aspect ratio of 16:10 (full-sized landscape format – golden section) or 16:5 (half-sized landscape format). Portrait format images do not have a specific aspect ratio. However, we recommend a ratio of 2:3.
*/

/*doc
---
title: Standard image
name: standard-image
parent: images
category: Base Layout > Visual
---


```html_example
<img src="http://placeimg.com/900/500/arch/grayscale">
<img src="http://placeimg.com/900/200/arch/grayscale">
```

*/

img {
  max-width: 100%;
}