/*doc
---
title: Background
name: c-background
category: Base Layout > Visual
---

The background color is a light shade of gray.

```
<body>
  <!-- your page content -->
</body>
```
*/

body {
  background: $white;
}