/*doc
---
title: Lists
name: e-lists
category: Base Layout > Typography
---

Lists are used to structure contents and to provide the user with a quick overview of a topic.

The following types of lists are used:

Ordered and unordered lists
Definition lists
Link lists (with internal and external links, which can also be mixed)
Anchor lists
Download lists

### Unordered lists

```html_example
<ul>
  <li><a href="#">Lorem ipsum</a>
    <ul>
      <li><a href="#">Lorem ipsum</a></li>
      <li>Lorem ipsum
        <ul>
          <li><a href="#">Lorem ipsum</a></li>
          <li>Lorem ipsum</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Lorem ipsum</li>
  <li>Lorem ipsum</li>
</ul>
```

### Ordered lists

```html_example
<ol>
  <li><a href="#">Lorem ipsum</a></li>
  <li>Lorem ipsum</li>
  <li>Lorem ipsum
    <ol>
      <li><a href="#">Lorem ipsum</a></li>
    </ol>
  </li>
  <li>Lorem ipsum</li>
</ol>
```

### Definition lists

```html_example
<dl>
  <dt>Lorem ipsum</dt>
  <dd>Lorem ipsum</dd>
  <dt>Lorem ipsum</dt>
  <dd>Lorem ipsum</dd>
  <dd>Lorem ipsum</dd>
</dl>
```

*/

ul, ol, dl {
  font-size: 1em;
  line-height: 1.5;
  margin: 1.5em 0 0 0;
  padding: 0 0 0 0.8em;
}

ul {
  list-style-type: square;
  padding: 0 0 0 0.4em;

  ul {
    margin-top: 0;
    list-style-type: none;
  }
}

li {
  font-size: 1.1em;
  line-height: 1.5;
  margin-left: 0.8em;
  li {font-size: 1em;}
}

ol {
  list-style-type: decimal;
  ol {margin-top: 0;}
}

dl {
  margin: 1.5em 0 0 0;
  padding: 0;
}

dt {
  @extend strong;
}

dd {
  margin: 0 0 0 40px;
}

dt, dd {
  font-size: 1.1em;
  dt, dd {font-size: 1em;}
}