@charset "UTF-8";

nav {
  ul {
    padding: 0;
    margin: 0;
  }
  li {display: inline;}
}

.nav-main {
  min-height: 70px;
  background: #e4e4e4; /* Old browsers */
  background: -moz-linear-gradient(top, #e4e4e4 0%, #e2e2e2 39%, #dddddd 79%, #d5d5d5 91%, #cfcfcf 95%, #bebebe 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(39%,#e2e2e2), color-stop(79%,#dddddd), color-stop(91%,#d5d5d5), color-stop(95%,#cfcfcf), color-stop(99%,#bebebe)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e4e4e4 0%,#e2e2e2 39%,#dddddd 79%,#d5d5d5 91%,#cfcfcf 95%,#bebebe 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e4e4e4 0%,#e2e2e2 39%,#dddddd 79%,#d5d5d5 91%,#cfcfcf 95%,#bebebe 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e4e4e4 0%,#e2e2e2 39%,#dddddd 79%,#d5d5d5 91%,#cfcfcf 95%,#bebebe 99%); /* IE10+ */
  background: linear-gradient(to bottom, #e4e4e4 0%,#e2e2e2 39%,#dddddd 79%,#d5d5d5 91%,#cfcfcf 95%,#bebebe 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#bebebe',GradientType=0 ); /* IE6-9 */
}

/*doc
---
title: Service Navigation
name: b-servie-navigation
category: Page element > Header
---

The service navigation is positioned at the top right of the header next to the language selection. It contains links that are of overriding importance (e.g. Contact, Jobs, Media and Contact). Ideally, there should be three, but in no case should there be more than five links in the service navigation.

On mobile devices the links in the service navigation are moved to the footer.

```html_example
<div class="container-fluide">

  <header>
    <nav class="nav-service">
      <ul>
        <li><a href="#">Emergencies</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
  <nav class="nav-main"></nav>

</div>
```

*/

.nav-service {
  display: inline-block;
  float: right;
  a {
    font-size: 0.85em;
    color: $coal;
  }
}

/*doc
---
title: Language Selection via a Dropdown List
name: c-lang-select
category: Page element > Header
---

The language selection can be presented in the form of a space-saving dropdown menu. The two-digit abbreviations as per ISO 639-2/3 are used for this purpose (e.g. German: = DE, French = FR, Italian = IT, Romansh = RM, etc.). If the selected is changed, the content of the current web page is also altered. The following rules apply:

* The information and services of the Federal Administration in the web are provided in at least the three official Swiss languages of German, French, and Italian.
* Other languages are optional and are dependent on the requirements of the individual organizational unit and its target groups.

On smartphones the language selection is always included in a drawer section above the header. This section is hidden automatically as soon as the user scrolls down. If the user scrolls back all the way to the top, the drawer with the language selection reappears.

```html_example
<strong>@TODO : Add example</strong>
```

*/

/*doc
---
title: Language Selection via a Link List
name: d-lang-navigation-list
category: Page element > Header
---

The languages available are shown as links at the top right of the header. For this purpose their two-digit abbreviations as per ISO 639-2 are used (e.g. German: = DE, French = FR, Italian = IT, Romansh = RM, English = EN, etc.). The following rules apply:

The language selection can be presented in the form of a space-saving dropdown list box. This solution must be chosen if more than four languages have to be supported.

The information and services of the Federal Administration in the web are provided in at least the three official Swiss languages of German, French, and Italian. It is also possible to show the four official languages as links next to one another. There are as yet no finalized design guidelines for this.
Romansh and English are only shown if the content is available in these languages.

Other languages are optional and are dependent on the requirements of the individual organizational unit and its target groups.

If no content in one of the languages is available on only some of the pages, the language link is shown as `disabled. In the navigation the pages which are not translated can either be omitted or shown as available in the other languages, as in Swiss Embassies (German, French, Italian).

On smartphones the language selection is always included in a drawer section above the header. This section is hidden automatically as soon as the user scrolls down. If the user scrolls back all the way to the top, the drawer with the language selection reappears.

```html_example
<div class="container-fluide">

  <header>
    <nav class="nav-lang">
      <ul>
        <li><a class="active" href="#">DE</a></li>
        <li><a href="#">FR</a></li>
        <li><a href="#">IT</a></li>
        <li><a class="disabled" href="#">RM</a></li>
        <li><a href="#">EN</a></li>
      </ul>
    </nav>
    <nav class="nav-service">
      <ul>
        <li><a href="#">Emergencies</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
  <nav class="nav-main"></nav>

</div>
```
*/

.nav-lang {
  display: inline-block;
  float: right;
  border-left: 1px solid $gainsboro;
  margin-left: 15px;
  li {padding: 0;}
  a {
    color: $coal;
    padding: 4px;
    &.active {background: $gainsboro;}
    &.disabled {color: $silver;}
    &.disabled:hover {cursor: default;}
  }
}
