/*doc
---
title: Radio buttons
name: c-radiobuttons
category: Base Layout > Forms
---

Radio buttons allow the user to make an unequivocal choice from a predefined list. Radio buttons can also be structured in groups. Only one element in a group may be selected.

```html_example
<div class="checkbox checkbox--right">
  <input id="checkbox" type="checkbox">
  <label for="checkbox">Remember me</label>
</div>

<div class="checkbox checkbox--left">
  <input id="checkbox2" type="checkbox">
  <label for="checkbox2">Remember me</label>
</div>
```

*/

.checkbox {
  position: relative;
  input {
    position: absolute;
    left: -999999999%;
  }
  label {
    position: relative;
  }
}

.checkbox--left {
  input {
    &:checked + label:before {
      background-position: 0 -45px;
    }
    &:focus + label:before {
      background-position: 0 -360px;
    }
    &:checked:focus + label:before {
      background-position: 0 0;
    }
    &:disabled + label:before {
      background-position: 0 -450px;
    }
    &:checked:disabled + label:before {
      background-position: 0 -540px;
    }
  }
  label:before {
    position: absolute;
    content: ' ';
    width: 16px;
    height: 15px;
    top: 4px;
    left: 0;
    background-repeat: no-repeat;
    background-position: 0 -90px;
    background-image: url(../img/form-icons.svg);
    background-image: url(../img/form-icons.png)\9 // IE6, IE7 and IE8
  }
}

.checkbox--right {
  input {
    &:checked + label:after {
      background-position: 0 -45px;
    }
    &:focus + label:after {
      background-position: 0 -360px;
    }
    &:checked:focus + label:after {
      background-position: 0 0;
    }
    &:disabled + label:after {
      background-position: 0 -450px;
    }
    &:checked:disabled + label:after {
      background-position: 0 -540px;
    }
  }
  label {
    padding-right: 20px;
    padding-left: 0;
    &:after {
      position: absolute;
      content: ' ';
      width: 16px;
      height: 15px;
      top: 4px;
      right: 0;
      background-repeat: no-repeat;
      background-position: 0 -90px;
      background-image: url(../img/form-icons.svg);
      background-image: url(../img/form-icons.png)\9 // IE6, IE7 and IE8
    }
  }
}



// .checkbox label {
//   position: relative;
//   input {
//     position: absolute;
//     left: -999999999999%;
//     &:checked {
//       &:before {
//         background-position: 0 -45px;
//       }
//     }
//     &:focus {
//       &:before {
//         background-position: 0 0;
//       }
//     }
//   }
//   &:focus {
//     input:before {
//       background-position: 0 -360px;
//       outline: none;
//     }
//   }
//   &:before {
//     &:hover {
//       cursor: pointer;
//     }
//     position: absolute;
//     visibility: visible;
//     content: ' ';
//     width: 16px;
//     height: 15px;
//     top: 4px;
//     left: 0;
//     background-repeat: no-repeat;
//     background-position: 0 -90px;
//     background-image: url(../img/form-icons.svg);
//     background-image: url(../img/form-icons.png)\9 // IE6, IE7 and IE8 fallback
//   }
// }