/*doc
---
title: Selects
name: e-selects
category: Base Layout > Forms
---

A drop down list box allows the user to select an item from a predefined list. This list appears in a menu after the element has been clicked on. After the selection has been made, the result is displayed.

```html_example
<select class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
```

*/

select.form-control {
  position: absolute;
  left: -999999999%;
}