/*doc
---
title: Standard table
name: a-standard-table
category: Base Layout > Tables
---

The standard table consists of the table title `<caption>`, the table head `<thead>`, the table body `<tbody>`, and the table foot `<tfoot>`. The standard table can be extended to allow zebra striping and/or column or line formatting.

```html_example
<table class="table table-bordered">
  <caption>Game animals shot in Switzerland</caption>
  <thead>
    <tr class="text-right">
      <td></td>
      <th>2000</th>
      <th>2010</th>
      <th>2011</th>
      <th>2012</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Boars</th>
      <td>4'160</td>
      <td>7'647</td>
      <td>4'726</td>
      <td>10'650</td>
    </tr>
    <tr>
      <th>Chamois</th>
      <td>16'625</td>
      <td>13'427</td>
      <td>13'413</td>
      <td>13'350</td>
    </tr>
    <tr>
      <th>Fox</th>
      <td>42'221</td>
      <td>31'044</td>
      <td>27'094</td>
      <td>35'616</td>
    </tr>
  </tbody>
</table>
```

*/


table {
  font-size: 1em;

}

.table-bordered thead tr {
  td, th {
    border-bottom-width: 1px;
  }
}