{% extends "layout.twig" %}

{% block pagetitle %}Homepage without Global navigation{% endblock %}

{% block skiplinks %}
  {% set hasSecondaryNav = true %}
  {{ parent() }}
{% endblock %}

{% block main_yamm %}
  <section class="nav-mobile yamm">
    <div class="table-row">
      <div class="nav-mobile-header">
        <div class="table-row">
          <span class="nav-mobile-logo">
            <img src="../../img/swiss.svg" onerror="this.onerror=null; this.src='../../img/swiss.png'"
                 alt="Confederatio Helvetica"/>
          </span>
          <h1><a href="#">Main Title</a></h1>
        </div>
      </div>
      <div class="table-cell dropdown">
        <a href="#" class="nav-mobile-menu dropdown-toggle" data-toggle="dropdown"><span
            class="icon icon--search"></span></a>
        <div class="dropdown-menu" role="menu">
          <div class="mod mod-searchfield global-search global-search-mobile">
            <form class="form">
              <h2 class="sr-only">Search</h2>
              <label for="search-field-mobile" class="sr-only">Search</label>
              <input id="search-field-mobile" class="search-input form-control" type="text" placeholder="Search">
              <button class="icon icon--close icon--after search-reset" role="button" type="button">
                <span class="sr-only">Reset</span>
              </button>
              <span class="icon icon--search">
                      <span class="sr-only">Search</span>
                    </span>
              <div class="search-results">
                <div class="search-results-list"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Red line when there is no global nav -->
  <div class="header-separator"></div>

  <br>
{% endblock %}

{% block breadcrumb %}{% endblock %}
{% block sidebar_right %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <div class="focus">
        <!-- focus tabs -->
        <ul class="nav nav-tabs nav-tabs-focus nav-justified">
          <li class="active"><a href="#home" data-toggle="tab">Lorem ipsum dolor sit amet, consectetur adipisicing
              elit.
              Nihil, similique</a></li>
          <li><a href="#profile" data-toggle="tab">Nam voluptate minima</a></li>
          <li><a href="#messages" data-toggle="tab">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#settings" data-toggle="tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
        </ul>

        <div class="tab-content tab-border tab-focus">
          <button class="tab-focus-control btn btn-sm"><span class="icon icon--pause"></span></button>

          <!-- focus panes -->
          <div class="tab-pane active in" id="home">
            <div class="row">
              <div class="col-sm-7"><img src="http://placehold.it/588x368/" alt="image description"></div>
              <div class="col-sm-5">
                <h4>Voluptates mollitia, consequuntur dignissimos maiores quasi?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates mollitia, consequuntur
                  dignissimos maiores quasi? Necessitatibus autem quisquam mollitia modi porro, libero totam. Vero ipsum
                  iste labore, tempora optio, modi dolores.</p>
                <p><a href="#" class="icon icon--after icon--external">An external link</a></p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="profile">
            <div class="row">
              <div class="col-sm-7"><img src="http://placehold.it/588x368/" alt="image description"></div>
              <div class="col-sm-5">
                <h4>Nam voluptate minima libero cumque.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quod id natus nesciunt atque tempore
                  commodi fugiat dolorum porro.</p>
                <p><a href="#" class="icon icon--after icon--external">An external link</a></p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="messages">
            <div class="row">
              <div class="col-sm-7"><img src="http://placehold.it/588x368/" alt="image description"></div>
              <div class="col-sm-5">
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque non asperiores itaque illo
                  maxime, voluptatibus deserunt natus assumenda. In rem iste error cupiditate adipisci, qui quaerat!
                  Magni quis reiciendis laborum dolores provident voluptatibus sequi, architecto necessitatibus
                  assumenda delectus incidunt itaque expedita minima deserunt at, soluta ratione hic error ipsam fugit
                  ducimus.</p>
                <p><a href="#" class="icon icon--after icon--external">An external link</a></p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="settings">
            <div class="row">
              <div class="col-sm-7"><img src="http://placehold.it/588x368/" alt="image description"></div>
              <div class="col-sm-5">
                <h4>Lorem ipsum dolor sit.</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum saepe expedita reiciendis, aspernatur
                  ad, fugit voluptate, officia possimus atque hic consequatur ut earum facilis omnis dolorem iusto!
                  Reprehenderit, similique itaque, dolorem quam veritatis eaque ab consequatur tempore ullam deleniti
                  explicabo.
                </p>
                <p><a href="#" class="icon icon--after icon--external">An external link</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="list-group">
    <div class="list-group-header">
      <h2 class="pull-left">Themes</h2>
      <a href="#" class="pull-right icon icon--before icon--list">all</a>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <p>
          <img src="http://placehold.it/282x176" alt="Image description">
        </p>
        <h3><a href="#">Title in H3</a></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Piso, familiaris noster, et alia multa et hoc
          loco Stoicos irridebat: Quid enim? Nihilo beatiorem esse <a href="#">Metellum</a> quam Regulum.
        </p>
        <br>
        <a href="#" class="icon icon--after icon--external">An external link</a>
      </div>
      <div class="col-sm-4">
        <p>
          <img src="http://placehold.it/282x176" alt="Image description">
        </p>
        <h3><a href="#">Title in H3</a></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Piso, familiaris noster, et alia multa et hoc loco
          Stoicos irridebat: Quid enim? Nihilo beatiorem esse <a href="#">Metellum</a> quam Regulum. Erit enim mecum, si
          tecum erit. Ne amores quidem sanctos a sapiente alienos esse arbitrantur.
        </p>
        <br>
        <a href="#" class="icon icon--after icon--external">An external link</a>
      </div>
      <div class="col-sm-4">
        <p>
          <img src="http://placehold.it/282x176" alt="Image description">
        </p>
        <h3><a href="#">Title in H3</a></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Piso, familiaris noster, et alia multa et hoc loco
          Stoicos irridebat: Quid enim? Nihilo beatiorem esse.
        </p>
        <br>
        <a href="#" class="icon icon--after icon--external">An external link</a>
      </div>
    </div>
  </div>
{% endblock %}
