{% extends "layout.twig" %}

{% block pagetitle %}Overview page{% endblock %}

{% block sidebar_right %}{% endblock %}

{% block skiplinks %}
  {% set hasSecondaryNav = true %}
  {{ parent() }}
{% endblock %}

{% block content %}
  <div class="col-sm-12">
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
    <div class="row">
      <div class="col-sm-6">
        <h3><a href="#">Title in H3</a></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Utilitatis causa amicitia est quaesita. Deinde qui fit, ut ego nesciam, sciant omnes, quicumque Epicurei esse voluerunt? Ut in geometria, prima si dederis, danda sunt omnia. Sed mehercule pergrata.
        </p>
        <h3><a href="#">Title in H3</a></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Utilitatis causa amicitia est quaesita. Deinde qui fit, ut ego nesciam, sciant omnes, quicumque Epicurei esse voluerunt? Ut in geometria, prima si dederis, danda sunt omnia. Sed mehercule pergrata.
        </p>
        <h3><a href="#">Title in H3</a></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Utilitatis causa amicitia est quaesita. Deinde qui fit, ut ego nesciam, sciant omnes, quicumque Epicurei esse voluerunt? Ut in geometria, prima si dederis, danda sunt omnia. Sed mehercule pergrata.
        </p>
        <h3><a href="#">Title in H3</a></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Utilitatis causa amicitia est quaesita. Deinde qui fit, ut ego nesciam, sciant omnes, quicumque Epicurei esse voluerunt? Ut in geometria, prima si dederis, danda sunt omnia. Sed mehercule pergrata.
        </p>
        <h3><a href="#">Title in H3</a></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Utilitatis causa amicitia est quaesita. Deinde qui fit, ut ego nesciam, sciant omnes, quicumque Epicurei esse voluerunt? Ut in geometria, prima si dederis, danda sunt omnia. Sed mehercule pergrata.
        </p>
      </div>
      <div class="col-sm-6">
        <h3><a href="#">Title in H3</a></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Utilitatis causa amicitia est quaesita. Deinde qui fit, ut ego nesciam, sciant omnes, quicumque Epicurei esse voluerunt? Ut in geometria, prima si dederis, danda sunt omnia. Sed mehercule pergrata.
        </p>
        <h3><a href="#">Title in H3</a></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Utilitatis causa amicitia est quaesita. Deinde qui fit, ut ego nesciam, sciant omnes, quicumque Epicurei esse voluerunt? Ut in geometria, prima si dederis, danda sunt omnia. Sed mehercule pergrata.
        </p>
        <h3><a href="#">Title in H3</a></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Utilitatis causa amicitia est quaesita. Deinde qui fit, ut ego nesciam, sciant omnes, quicumque Epicurei esse voluerunt? Ut in geometria, prima si dederis, danda sunt omnia. Sed mehercule pergrata.
        </p>
        <h3><a href="#">Title in H3</a></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Utilitatis causa amicitia est quaesita. Deinde qui fit, ut ego nesciam, sciant omnes, quicumque Epicurei esse voluerunt? Ut in geometria, prima si dederis, danda sunt omnia. Sed mehercule pergrata.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
