{% extends "layout.twig" %}

{% block pagetitle %}Publications{% endblock %}

{% block skiplinks %}
    {% set hasSecondaryNav = true %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="col-md-8">
      <div class="visible-xs visible-sm">
        <p><a href="#context-sidebar" class="icon icon--before icon--root hidden-print">Context sidebar</a></p>
      </div>
      <article>
        <a href="#" class="icon icon--before icon--less hidden-print">Back to Overview</a>
        <a href="#" onclick="$.printPreview.printPreview()" class="hidden-xs icon icon--before icon--print pull-right" title="print"></a>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
        <br>
        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img src="http://placehold.it/180x270" alt="image description">
            </figure>
          </div>
          <div class="col-sm-8">
            <table class="table table-naked">
              <tbody>
                <tr>
                  <th>Row</th>
                  <td>Politorbis</td>
                </tr>
                <tr>
                  <th>Number</th>
                  <td>Nr. 51</td>
                </tr>
                <tr>
                  <th>Year</th>
                  <td>2014</td>
                </tr>
                <tr>
                  <th>Issuer</th>
                  <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, perspiciatis, velit, distinctio voluptates quod esse eum sint placeat saepe quae rem repellat necessitatibus eveniet tempora molestiae dolorem delectus et aliquam!</p>
        <form class="form-inline">

            <fieldset>
              <legend>Compact form on one line</legend>

              <!-- Number input -->
              <div class="form-group">
                <label for="inputNumber" class="control-label">Number</label>
                <input type="number" class="form-control" size="2" id="inputNumber" placeholder="5">
              </div>

              <!-- Dropdown -->
              <div class="form-group">
                <label class="control-label hidden" for="dropdown">Dropdown</label>
                <select id="dropdown" class="form-control">
                  <option>Choose your language ...</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                </select>
              </div>

              <button type="submit" class="btn btn-primary pull-right">Add to basket</button>

            </fieldset>

        </form>
      </article>
      <article>
        <h3><a href="#">Title</a></h3>
        <figure class="pull-left">
          <img src="http://placehold.it/180x113" alt="image description">
        </figure>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. <a href="#">Donec pede justo</a>, fringilla vel, aliquet nec, vulputate eget, arcu. Lorem porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a.
        </p>


        <h3>Slideshow</h3>
        <div id="carousel-slideshow" class="carousel carousel-slideshow slide">

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <a href="http://placehold.it/1200x800" title="Banana" data-gallery>
                  <img src="http://placehold.it/800x600" alt="Banana">
              </a>
              <div class="carousel-caption">
                <h4>Image Title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus atque quas, dignissimos quo tempora, consectetur. Odio tempore nulla odit ab impedit dignissimos unde, alias error harum animi laboriosam repudiandae quaerat.</p>
              </div>
            </div>
            <div class="item">
              <a href="http://placehold.it/1200x800" title="Apple" data-gallery>
                  <img src="http://placehold.it/800x600" alt="Apple">
              </a>
              <div class="carousel-caption">
              </div>
            </div>
          </div>
          <div class="carousel-controls pull-right">
            <small><span id="carousel-index">1</span> of <span id="carousel-total"></span></small>
            <div>
              <a class="left icon icon--before icon--less" href="#carousel-slideshow" data-slide="prev" aria-label="previous"></a><a class="right icon icon--before icon--greater" href="#carousel-slideshow" data-slide="next" aria-label="next"></a>
            </div>
          </div>

        </div>


        <p><a href="#" class="icon icon--after icon--external">External link</a></p>
        <p><a href="#" class="icon icon--before icon--less hidden-print">Back to Overview</a></p>
        <p><small class="hidden-print"><a href="#" class="icon icon--before icon--power">Back to top</a><span class="text-dimmed">Last edition: 21.03.2014</span></small></p>
      </article>

    </div>
{% endblock %}
