// Colors

$empress:          #757575;
$silver:           #ccc;
$softBlue:         #f2f1ea;
$white:            #fff;
$black:            #000;

// Fonts

$mainFont:         'Frutiger Neue Regular', sans-serif;
$codeFont:         Monaco, monospace;
