/*doc
---
title: Contact Box
name: b-contactbox
category: Content Modules - Widgets
---

The contact box provides the user with a possibility to contact the website with regard to the content of the page. It is always to be found at the top of the context pane. If there is only one general contact available for the whole website, and if this is also available via the service navigation function, then the contact box is omitted.

The contact box shows two tabs: “Contact” and “Map”. In the “Contact” tab the name of the contact person, the address, the telephone number, the contact form, etc. are shown. If required, additional information, such as the opening hours of an embassy, for example, can be listed. In the “Map” tab, the contact is localized graphically in a map section, and the address is again listed in abbreviated form.

A click on “Print contact information” opens the browser’s or operating system’s print dialog.

On tablets the contact information is shown under the content of the page in a two-column layout. The contents of the two tabs are shown next to one another.

```html_example
<div class="col-sm-10 col-sm-offset-1">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#contact" data-toggle="tab">Contact</a></li>
    <li><a href="#map" data-toggle="tab">Map</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content tab-border">
    <div class="tab-pane active" id="contact">
      <address itemprop="address" itemscope="itemscope" itemtype="http://data-vocabulary.org/Address">
        <strong itemprop="name">UNO-Mission New York</strong>
        <span>Permanent Mission of Switzerland to the UN</span><br>
        <span itemprop="street-address">633, Third Avenue, 29th floor</span><br>
        <span itemprop="locality">New York</span>, <span itemprop="region">NY</span><span itemprop="postal-code">10017-6706</span><br>
        <span itemprop="country-name">United States of America</span>
      </address>
      <dl class="dl-horizontal">
        <dt><abbr title="Phone">Tel.</abbr></dt>
        <dd><a href="tel:+41 31 322 31 53">+41 31 322 31 53</a></dd>
        <dt>Fax</dt>
        <dd>+41 31 322 31 54</dd>
      </dl>
      <p>
        <a href="#" class="icon icon--before icon--message">Email</a><br>
        <a href="#" class="icon icon--before icon--list-alt">Contact form</a>
      </p>
      <h4>Visa</h4>
      <p><a href="#" class="icon icon--before icon--message">Email</a></p>
      <h4>Opening hours</h4>
      <p>Monday-Friday<br>
      09.00-12.00 AM</p>
      <p>Saturday and Sunday<br>
      closed</p>
      <p><a href="#" class="icon icon--before icon--print">Print contact infos</a></p>
    </div>
    <div class="tab-pane" id="map">
      <h3>UNO-Mission New York</h3>
      <p>633, Third Avenue<br>
      New York, NY10017-6706</p>
      <p><img src="http://placehold.it/158x120" alt="Map"></p>
      <p><a href="#" class="icon icon--after icon--external">See on the map</a></p>
      <p><a href="#" class="icon icon--before icon--print">Print contact infos</a></p>
    </div>
  </div>
</div>
```

*/

address {
  strong {
    font-family: $font-family-sans-serif;
    display: block;
  }
}