.social_share_privacy_area li .switch {
  background: none;
  background-image: url(../img/form-icons.svg);
  height: 15px;
  width: 15px;
  &.off { background-position: 0 -90px; }
  &.on { background-position: 0 0 }
}