.example-output {
  padding: 50px 4% 40px 4%;
  border: 1px solid $softBlue;
  position: relative;
  width: 100%;
  overflow-y: visible;
  box-sizing: border-box;
  position: relative;

  &:after {
    content: 'Example';
    position: absolute;
    top: 0;
    left: 0;
    color: $asbestos;
    border-right: 1px solid $softBlue;
    border-bottom: 1px solid $softBlue;
    border-bottom-right-radius: 4px;
    padding: 5px 8px;
    display: inline-block;
    font-family: $mainFont;
  }
}

.show-code {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  z-index: 50;
  border: none;
  color: #CCCCCC;
  background: transparent;
  font-family: $mainFont;
  outline: none;

  &:hover,
  &:focus {
    color: #DC0018;
  }
}

.label-admin {
  display: inline-block;
  width: 31px;
  height: 31px;

  color: $black;
  font-size: 8px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;

  border-radius: 31px;
  border: 1px solid $black;
}

.release-notes {
  p + ul {
    margin-top: 0;

    + p {
      margin-top: 10px;
    }
  }
}

.color-swatch {
  display: block;
  padding: 20px 10px;

  position: relative;

  text-align: center;

  border-radius: 3px;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    right: 0;

    box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
    border-radius: 3px;
  }
}

.f-item-anchor {
  &,
  &:hover,
  &:focus,
  &:visited,
  &:active {
    color: inherit;
    text-decoration: none;
  }

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}
