.example-output {
  padding: 50px 4% 40px 4% !important;
  border: 1px solid $softBlue !important;
  position: relative !important;
  width: 100% !important;
  overflow-y: visible !important;
  box-sizing: border-box !important;
  position: relative !important;

  &:after {
    content: 'Example' !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    color: $asbestos !important;
    border-right: 1px solid $softBlue !important;
    border-bottom: 1px solid $softBlue !important;
    border-bottom-right-radius: 4px !important;
    padding: 5px 8px !important;
    display: inline-block !important;
    font-family: $mainFont !important;
  }
}

.show-code {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 !important;
  z-index: 50;
  border: none;
  color: #CCCCCC;
  background: transparent;
  font-family: $mainFont;
  outline: none;

  &:hover,
  &:focus {
    color: #DC0018;
  }
}

.label-admin {
  border: 1px solid $black !important;
  color: $black !important;
  font-size: 8px !important;
  line-height: 26px !important;
  text-align: center !important;
  display: block !important;
  width: 31px !important;
  height: 31px !important;
  border-radius: 31px !important;
}

.release-notes {
  p + ul {
    margin-top: 0;

    + p {
      margin-top: 10px;
    }
  }
}

.color-swatch {
  display: block;
  padding: 20px 10px;

  position: relative;

  text-align: center;

  border-radius: 3px;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    right: 0;

    box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
    border-radius: 3px;
  }
}
