.admin-header .twitter-typeahead {
  position: absolute !important;
  right: 25px !important;
  top: 18px !important;
  width: 230px;
  display: block !important;
  input {
    width: 100% !important;
    height: 38px !important;
    box-sizing: border-box !important;
    border-radius: 3px !important;
    border: 1px solid $silver !important;
    box-shadow: none !important;
    padding: 5px 10px !important;
    padding-left: 50px !important;
    font-family: $mainFont !important;
    font-size: 14px !important;
    border-box: box-sizing !important;
    &:focus{
      outline: 0;
      border: 1px solid $asbestos !important;
    }
    &::-webkit-input-placeholder {
      font-style: italic;
    }
    &:-moz-placeholder {
      font-style: italic;
    }
    background: url('../img/search-icon.svg') no-repeat 10px 6px !important;
    background: url('../img/search-icon.png') no-repeat 10px 6px !important\9
  }
  @media only screen and (max-width: 767px) {
    display: none;
    input {display: none;}
  }
}

/* custom styles for the typeahead */

.admin-header .tt-dropdown-menu {
  width: 230px !important;
  margin-top: 12px !important;
  padding: 8px 0 !important;
  background-color: $white !important;
  border: 1px solid $silver !important;
  border-radius: 3px !important;
  box-shadow: 0 5px 10px rgba(0,0,0,.2) !important;
}

.admin-header .tt-suggestion {
  padding: 8px 15px !important;
  font-family: $mainFont !important;
  border-top: 1px solid $silver !important;
  &:first-child {border: none !important;}
}

.admin-header .tt-suggestion a {
  text-decoration: none !important;
  color: $mine !important;
}

.admin-search-title {
  font-weight: bold !important;
  font-size: 14px !important;
  margin: 0 !important;
  margin-bottom: 5px !important;
}

.admin-search-path {
  font-weight: normal !important;
  font-size: 12px !important;
  margin: 0 !important;
}

.admin-header .tt-suggestion.tt-is-under-cursor {
  a {color: $white !important;}
  background-color: $alizarin !important;
}