/*doc
---
title: Glossary
name: h-glossary
category: Design Principles - Glossary
---

#### Accessibility

Barrier-free Accessibility

#### Barrier-free Accessibility

Barrier-free Internet is used to refer to web resources that can be utilized by all users, irrespective of their physical capabilities.

#### Breadcrumb

The breadcrumb is a line of text below the header which shows the user the position of the web page currently being used within the information architecture of the website. This enables users to see at a glance where they are on the site map. A breadcrumb could look like this: Home page EDA > Countries & travel information > Travel advice > Africa > Morocco

#### Breakpoints

In a responsive design, the layout of the pages changes according to the viewing environment of the output device. The resolution value at which the layout changes, is called the “breakpoint”.

#### EDA:

The Federal Department of Foreign Affairs

#### Icon:

Icons are graphical representations of options and functions, such as “Print”.

#### Designation:

The designation consists of the Confederation logo (coat of arms + the four-language wordmark) and the name of the organizational unit (OU). Its function is to indicate to the user who the originator of a particular website is. In websites that cover several organizations and in theme portals, the name of the OU is replaced by the title of the website.
#### KID:

The Information Services Conference of the Administrative Departments
Organization Unit (or OU):
The relevant organizational unit (e.g. a department, an agency, a division) of the Swiss Confederation

#### Responsive Design/Responsiveness:

Responsive design or responsiveness is used to describe the process by which the layout of a website is adapted to fit the viewing environment of an end device. This means that users can enjoy an optimal viewing experience of the same contents on desktop computers, laptops, tablets, and smartphones.

#### Treecrumb:

The treecrumb shows the position of the website within the hierarchical organization of the Federal Administration. It allows the user to access directly the websites of higher-level organizational units. It is always positioned at the top left-hand corner of the header in a Confederation website.

#### VBS:

The Federal Department of Defence, Civil Protection and Sport

#### Confederation Web Forum :

A monthly meeting of the persons responsible for web activities in the Departments, the Parliamentary Services, and the Federal Chancellery. Its purpose is to coordinate the Internet activities within the General Federal Administration. The Confederation Web Forum draws up guidelines and directives, and is responsible for putting them into effect as well as monitoring their implementation.

#### Web page

A single page on a website

#### Website

All the web pages subsumed under the same URL, e.g. www.bundeskanzlei.admin.ch.

*/