<header>
  <div class="clearfix">
    <section class="nav-services clearfix">
      <h2 class="sr-only">{{t 'styleguide.language'}}</h2>
      <nav class="nav-lang">
        <ul>
          {{#each locales}}
          <li>
            <a href="{{#if disabled}}#{{else}}{{#if @root.baseurl}}{{@root.baseurl}}/{{/if}}../{{code}}/{{../../permalink}}{{/if}}" lang="{{code}}" title="{{name}}{{#isCurrentLocale code}} {{t 'styleguide.selected'}}{{/isCurrentLocale}}{{#if disabled}} {{t 'styleguide.disabled'}}{{/if}}" aria-label="{{name}} {{#isCurrentLocale code}}{{t 'styleguide.selected'}}{{/isCurrentLocale}}{{#if disabled}}{{t 'styleguide.disabled'}}{{/if}}" class="{{#isCurrentLocale code}}active{{/isCurrentLocale}}{{#if disabled}}disabled{{/if}}">{{toUpperCase code}}</a>
          </li>
          {{/each}}
        </ul>
      </nav>
      <nav class="nav-service">
        <ul class="download-link">
          <li>
            <a href="https://github.com/swiss/styleguide/releases/latest">{{t 'styleguide.version'}} {{data 'version'}}</a>
          </li>
        </ul>
      </nav>
    </section>
  </div>

  <div class="clearfix">
    <a href="{{#if baseurl}}{{baseurl}}/{{/if}}../{{data 'locale'}}/" class="brand hidden-xs">
      <img src="{{#if baseurl}}{{baseurl}}/{{/if}}../img/logo-CH.svg" onerror="this.onerror=null; this.src='{{#if baseurl}}{{baseurl}}/{{/if}}../img/logo-CH.png'" alt="{{t 'styleguide.logo'}}" />
      <h1>{{t 'styleguide.title'}}</h1>
    </a>
    <div class="mod mod-searchfield global-search global-search-standard">
      <!-- begin: sitesearch desktop-->
      <form class="form-horizontal form-search pull-right">
        <h2 class="sr-only">{{t 'styleguide.global-search.title'}}</h2>
        <label for="webguidelines-search-standard" class="sr-only">{{t 'styleguide.global-search.title'}}</label>
        <input id="webguidelines-search-standard" class="form-control search-input" type="text" placeholder="{{t 'styleguide.global-search.title'}}"/>
        <button class="icon icon--close icon--after search-reset" tabindex="0" role="button">
          <span class="sr-only">{{t 'styleguide.global-search.reset'}}</span>
        </button>
        <span class="icon icon--search">
          <span class="sr-only">{{t 'styleguide.global-search.title'}}</span>
        </span>
        <div class="search-results">
          <div class="search-results-list"></div>
        </div>
      </form>
      <!-- end: sitesearch desktop-->
    </div>
  </div>
</header>
