<header>
  <div class="clearfix">
    <section class="nav-services clearfix">
      <h2>{{ title }}</h2>
      <nav class="pull-right">
        <ul class="download-link">
          <li>
            <a class="btn btn-secondary" href="https://github.com/swiss/styleguide/releases/latest">\{{ styleguide.version | translate }} 0.0.0</a>
          </li>
        </ul>
      </nav>
    </section>
  </div>

  <a href="{{baseurl}}" class="brand hidden-xs">
    <img src="{{baseurl}}/img/logo-CH.svg" onerror="this.onerror=null; this.src='img/logo-CH.png'" alt="\{{ styleguide.logo | translate }}" />
    <h1>\{{ styleguide.title | translate }}</h1>
  </a>
</header>
