<li class="dropdown yamm-fw">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{t @key 'title'}}</a>
  <div class="dropdown-menu" role="menu">
    <div class="yamm-content container-fluid">
      <div class="row">
        <div class="col-sm-12"><a href="#" class="yamm-close icon icon--after icon--close pull-right" role="menuitem" tabindex="-1">{{t 'styleguide.close'}}</a></div>
      </div>
      <div class="row">
        {{#each items}}
          <div class="col-sm-3">
            <div class="yamm-content container-fluid">
              <h4><a href="{{#if @root.baseurl}}{{@root.baseurl}}/{{/if}}../{{data 'locale'}}/{{#if ../path}}{{@../key}}/{{/if}}{{prefixless @key}}.html">{{t @../key @key 'title'}}</a></h4>
              <ul role="menu">
                {{#each items}}
                  <li role="presentation">
                    <a href="{{#if @root.baseurl}}{{@root.baseurl}}/{{/if}}../{{data 'locale'}}/{{prefixless @../key}}.html#{{replace '(\.)' '-' @key}}">{{t @../../key @key 'title'}}</a>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
          {{#modulo @index 4}}
            <div class="clearfix"></div>
          {{/modulo}}
        {{/each}}
      </div>
      <a href="#" class="yamm-close-bottom" role="menuitem" aria-label="{{t 'styleguide.close'}}"><span class="icon icon--top"></span></a>
    </div>
  </div>
</li>
