<li class="dropdown yamm-fw">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{t @key 'title'}}</a>
  <ul class="dropdown-menu" role="menu">
    <div class="yamm-content container-fluid">
      <div class="row">
        <div class="col-sm-12"><a href="#" class="yamm-close icon icon--after icon--close pull-right" role="menuitem" tabindex="-1">{{t 'styleguide.close'}}</a></div>
      </div>
      <div class="row">
        {{#each items}}
          <li class="col-sm-3">
            <div class="yamm-content container-fluid">
              <h4><a href="/{{data 'locale'}}/{{../path}}{{@key}}.html">{{t @../key @key 'title'}}</a></h4>
              {{#each items}}
                <a href="/{{data 'locale'}}/{{../path}}{{@../key}}.html#{{@key}}">{{t @../../key @key 'title'}}</a>
              {{/each}}
            </div>
          </li>
          {{#modulo @index 4}}
            <div class="clearfix"></div>
          {{/modulo}}
        {{/each}}
      </div>
      <a href="#" class="yamm-close-bottom" role="menuitem" tabindex="-1"><span class="icon icon--top"></span></a>
    </div>
  </ul>
</li>
