.global-search {

  float:right;
  position:relative;

  .search-results:before,
  .search-results:after {
    z-index: 99999;
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .search-results:before {
    right: 11px;
    top: -13px;
    border-width: 0 13px 13px;
    border-color: $light-grey transparent;
  }

  .search-results::after {
    right: 12px;
    top: -12px;
    border-width: 0 12px 12px;
    border-color: $white transparent;
  }

  .search-results:hover,
  .search-input:focus:not([value=""]) + .search-results{
    display: block;
  }

  .search-results {
    //display: none;
    padding: 24px 16px 24px 24px;
    background-color: $white;
    border: 1px solid $light-grey;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    z-index: 99999;
    margin-top: 13px;
    min-width: 290px;

    ul {
      list-style: none;
      overflow-y: auto;
      overflow-x: auto;
      margin: 0;
      padding: 0;
      max-height: calc(100vh - 150px);

      li {
        margin: 20px 20px 20px 0;
      }

    }
  }


}
