.global-search {

  display: none;
  @media only screen and (min-width: $screen-sm-min) {
    display: block;
  }

  float:right;
  position:relative;

  .search-input {
    margin-left: 5px;
  }

  .search-results:before,
  .search-results:after {
    z-index: 99999;
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .search-results:before {
    right: 11px;
    top: -13px;
    border-width: 0 13px 13px;
    border-color: $light-grey transparent;
  }

  .search-results::after {
    right: 12px;
    top: -12px;
    border-width: 0 12px 12px;
    border-color: $white transparent;
  }

  .search-results:hover,
  .search-input:focus:not([value=""]) + .search-results{
    display: block;
  }

  .search-results {
    display: none;
    padding: 24px 16px 24px 24px;
    background-color: $white;
    border: 1px solid $light-grey;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    z-index: 99999;
    margin-top: 13px;
    min-width: 290px;

    .search-results-list {
      overflow-y: auto;
      overflow-x: auto;
      max-height: calc(100vh - 200px);

      h3 {
        padding: 5px 0;
        margin: 5px 5px 5px 0;
        border-bottom: 1px solid $light-grey;
      }

      ul {
        list-style: none;
        margin: 0 5px 15px 0;
        padding: 0;

        li {
          margin: 5px 0;
          font-size: 14px;

          a {
            cursor: pointer;
          }
        }
      }
    }

  }
}

.global-search.global-search-mobile {

  float: none;
  padding: 5px;
  display: block;

  .search-results-list {
    max-height: none;
  }

  .search-results {
    width: 100%;
    border: none;
    box-shadow: none;
    padding: 0 10px;
  }

  .search-results:before,
  .search-results:after {
    display: none;
    content: '';
  }

  .search-input {
    width: 100%;
    margin-left: 0;
    padding: 5px;
  }
}
