---
title: layout.tables.table-standard.title
help: layout.tables.table-standard.help
release: layout.tables.table-standard.release
label: flex
---

<table class="table table-bordered text-right">
  <caption>Game animals shot in Switzerland</caption>
  <thead>
    <tr>
      <th></th>
      <th>2000</th>
      <th>2010</th>
      <th>2011</th>
      <th>2012</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="text-left">Boars</th>
      <td>4'160</td>
      <td>7'647</td>
      <td>4'726</td>
      <td>10'650</td>
    </tr>
    <tr>
      <th class="text-left">Chamois</th>
      <td>16'625</td>
      <td>13'427</td>
      <td>13'413</td>
      <td>13'350</td>
    </tr>
    <tr>
      <th class="text-left">Fox</th>
      <td>42'221</td>
      <td>31'044</td>
      <td>27'094</td>
      <td>35'616</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td>2000</td>
      <td>2010</td>
      <td>2011</td>
      <td>2012</td>
    </tr>
  </tfoot>
</table>
