---
title: layout.tables.table-zebra-cycle-pairs.title
label: flex
---

<table class="table table-bordered table-striped text-right" summary="GAV Statistik 2011-2013, mit und ohne Lohnverhandlung">
  <col>
  <colgroup span="2"></colgroup>
  <colgroup span="2"></colgroup>
  <colgroup span="2"></colgroup>
  <caption>Tabelle mit Titelzeile (Standardtabelle)</caption>
  <thead>
    <tr class="pairwise">
      <td rowspan="2"></td>
      <th id="year-2011" colspan="2" scope="colgroup" class="text-center">2011</th>
      <th id="year-2012" colspan="2" scope="colgroup" class="text-center">2012</th>
      <th id="year-2013" colspan="2" scope="colgroup" class="text-center">2013</th>
    </tr>
    <tr>
      <th class="text-left" scope="col" id="gav-2011">GAV</th>
      <th class="text-left" scope="col" id="labor-participating-2011">unterstellte Arbeit-<br>nehmende</th>
      <th class="text-left" scope="col" id="gav-2012">GAV</th>
      <th class="text-left" scope="col" id="labor-participating-2012">unterstellte Arbeit-<br>nehmende</th>
      <th class="text-left" scope="col" id="gav-2013">GAV</th>
      <th class="text-left" scope="col" id="labor-participating-2013">unterstellte Arbeit-<br>nehmende</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="text-left" scope="row" id="main-gav">Wichtigsten GAV<sup title="lorem ipsum dolor sit amet">1)</sup></th>
      <td >100</td>
      <td >1'400'600</td>
      <td >97</td>
      <td >1'607'100</td>
      <td >93</td>
      <td >1'574'800</td>
    </tr>
    <tr>
      <th class="text-left" scope="row" id="gav-without-wage-bargaining">GAV ohne Lohnverhandlung</th>
      <td>28</td>
      <td>362'400</td>
      <td>29</td>
      <td>605'900</td>
      <td>68</td>
      <td>1'032'700</td>
    </tr>
    <tr>
      <th class="text-left" scope="row" id="gav-with-wage-bargaining">GAV mit Lohnverhandlung</th>
      <td>72</td>
      <td>1'038'200</td>
      <td>68</td>
      <td>1'001'200</td>
      <td>25</td>
      <td>542'100</td>
    </tr>
    <tr>
      <th class="text-left" scope="row" id="lohnvereinbarungsart" colspan="7">Lohnvereinbarungsart</th>
    </tr>
    <tr>
      <th class="text-left" scope="row" id="effective-agreement">Effektivlohn-vereinbarung</th>
      <td>9</td>
      <td>129'500</td>
      <td>6</td>
      <td>79'500</td>
      <td>6</td>
      <td>76'500</td>
    </tr>
    <tr>
      <th class="text-left" scope="row" id="effectively-least-agreement">Effektiv- und Mindest-lohnvereinbarung<sup title="lorem ipsum dolor sit amet">2)</sup></th>
      <td>45</td>
      <td>365'800</td>
      <td>47</td>
      <td>3'688'400</td>
      <td>40</td>
      <td>403'700</td>
    </tr>
    <tr>
      <th class="text-left" scope="row" id="minimum-wage-agreement">Mindestlohn-vereinbarung<sup title="lorem ipsum dolor sit amet">2)</sup></th>
      <td>18</td>
      <td>543'000</td>
      <td>15</td>
      <td>233'300</td>
      <td>21</td>
      <td>537'400</td>
    </tr>
    <tr>
      <th class="text-left" scope="row" id="no-agreement">Keine Lohn-vereinbarung</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>15'100</td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="pairwise">
      <td rowspan="2"></td>
      <td class="text-center" colspan="2">2011</td>
      <td class="text-center" colspan="2">2012</td>
      <td class="text-center" colspan="2">2013</td>
    </tr>
    <tr>
      <td class="text-left">GAV</td>
      <td class="text-left">unterstellte Arbeit-<br>nehmende</td>
      <td class="text-left">GAV</td>
      <td class="text-left">unterstellte Arbeit-<br>nehmende</td>
      <td class="text-left">GAV</td>
      <td class="text-left">unterstellte Arbeit-<br>nehmende</td>
    </tr>
  </tfoot>
</table>
