---
title: layout.tables.table-highlight.title
help: layout.tables.table-highlight.help
release: layout.tables.table-highlight.release
label: flex
---

<table class="table table-bordered text-right">
  <caption>Game animals shot in Switzerland</caption>
  <thead>
    <tr role="columnheader">
      <th></th>
      <th id="year-2000">2000</th>
      <th id="year-2010">2010</th>
      <th id="year-2011" class="active">2011</th>
      <th id="year-2012">2012</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="text-left" role="rowheader">Boars</th>
      <td>4'160</td>
      <td>7'647</td>
      <td class="active">4'726</td>
      <td>10'650</td>
    </tr>
    <tr>
      <th class="text-left" role="rowheader">Chamois</th>
      <td>16'625</td>
      <td>13'427</td>
      <td class="active">13'413</td>
      <td>13'350</td>
    </tr>
    <tr class="active">
      <th class="text-left" role="rowheader">Fox</th>
      <td>42'221</td>
      <td>31'044</td>
      <td class="active">27'094</td>
      <td>35'616</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td>2000</td>
      <td>2010</td>
      <td class="active">2011</td>
      <td>2012</td>
    </tr>
  </tfoot>
</table>
