---
title: layout.tables.table-expandable.title
help: layout.tables.table-expandable.help
release: layout.tables.table-expandable.release
label: flex
---

<table class="table table-bordered text-right">
  <caption>Game animals shot in Switzerland</caption>
  <thead>
    <tr role="columnheader">
      <th></th>
      <th id="year-2000">2000</th>
      <th id="year-2010">2010</th>
      <th id="year-2011">2011</th>
      <th id="year-2012">2012</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th role="rowheader"><a href="#animals" class="text-left icon icon--before collapsed" data-toggle="collapse">Animals</a></th>
      <td>63'006</td>
      <td>52'118</td>
      <td>45'233</td>
      <td>59'616</td>
    </tr>
  </tbody>
  <tbody id="animals" class="collapse">
    <tr>
      <th class="text-left" role="rowheader">Boars</th>
      <td>4'160</td>
      <td>7'647</td>
      <td>4'726</td>
      <td>10'650</td>
    </tr>
    <tr>
      <th class="text-left" role="rowheader">Chamois</th>
      <td>16'625</td>
      <td>13'427</td>
      <td>13'413</td>
      <td>13'350</td>
    </tr>
    <tr>
      <th class="text-left" role="rowheader">Fox</th>
      <td>42'221</td>
      <td>31'044</td>
      <td>27'094</td>
      <td>35'616</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td>2000</td>
      <td>2010</td>
      <td>2011</td>
      <td>2012</td>
    </tr>
  </tfoot>
</table>

