---
title: layout.tables.table-unruled.title
help: layout.tables.table-unruled.help
release: layout.tables.table-unruled.release
label: flex
---

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5">

      <table class="table table-naked">
        <thead>
          <tr role="columnheader">
            <th id="name">Name</th>
            <th id="mail">E-mail</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hans Muster</td>
            <td><a href="mailto:hans.muster@mail.com">hans.muster@mail.com</a></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
