      </div>
    </div>
  </div>

  <!-- Styleguide JS -->
  <!-- <script src="theme-build/js/vendors.min.js"></script>
  <script type="text/javascript">
      // avoid conflict with potential other jQuery loaded on the styleguide
      var jQuery_no_conflict = $.noConflict(true);
  </script>
  <script src="theme-build/js/main.js"></script> -->
  <script>
    var searchData = '';

    // (function($) {
    //   $('#cortana-search').typeahead({
    //     name: 'cortana_search',
    //     local: cortanaSearchData,
    //     template: [
    //       '<a href="{{path}}">',
    //       '<p class="cortana-search-title">{{title}}</p>',
    //       '<p class="cortana-search-path">{{breadcrumb}}</p>',
    //       '</a>'
    //     ].join(''),
    //     updater: function () {
    //       /* navigate to the selected item */
    //       alert('ok');
    //     },
    //     engine: Hogan
    //   }).on('typeahead:selected', function(event, data) {
    //     window.location.replace(data.path);
    //   });
    // }) (jQuery_no_conflict);
  </script>
  
  <!-- Styleguide JS -->
  <% @config['js_include'].each do |js| %>
    <script type="text/javascript" src="<%= js %>"></script>
  <% end %>
</body>
</html>
