.cortana-content code, .cortana-content pre {
  font-family: $codeFont !important;
  font-size: 14px !important;
  border: 1px solid $silver !important;
  padding: 2px 5px !important;
  border-radius: 2px !important;
  background: $white !important;
  margin: 0 !important;
  word-break: keep-all !important;
  word-wrap: normal !important;
  white-space:pre !important;
  color: $mine !important;
}

.codeExample {
  margin: 30px 0;
}

.codeBlock {
  padding: 50px 4% !important;
  background: #1e221d !important;
  color: $white !important;
  font-size: 15px !important;
  line-height: 1.6em !important;
  overflow-x: auto !important;
  margin-bottom: 20px !important;
  position: relative !important;
  width: auto !important;
  &:after {
    content: 'HTML' !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    color: $asbestos !important;
    border-right: 1px solid $asbestos !important;
    border-bottom: 1px solid $asbestos !important;
    border-bottom-right-radius: 4px !important;
    padding: 5px 8px !important;
    display: inline-block !important;
    font-family: $mainFont !important;
  }
  &.jsExample:after {
    content: 'JavaScript' !important;
  }
  .highlight {
    background: #1e221d !important;
  }
  pre, code {
    font-family: $codeFont !important;
    width: auto !important;
    background: #1e221d !important;
    word-break: keep-all !important;
    word-wrap: normal !important;
    white-space:pre !important;
    margin: 0px !important;
    padding: 0px !important;
    padding-left: 15px !important;
    font-size: 14px !important;
    position: relative !important;
    line-height: 1.6em !important;
    color: $white !important;
    border: 1px solid  #1e221d !important;
    overflow: visible !important;
  }
  @media only screen and (max-width: 900px) {padding: 50px 10px !important;}
}
.codeBlock {
  hll { background-color: #ffffcc }
  .c { color: #999988; font-style: italic } /* Comment */
  .err { color: #a61717; background-color: #e3d2d2 } /* Error */
  .k { color: #ffffff;} /* Keyword */
  .o { color: #ffffff;} /* Operator */
  .cm { color: #999988; font-style: italic } /* Comment.Multiline */
  .cp { color: #999999; font-style: italic } /* Comment.Preproc */
  .c1 { color: #999988; font-style: italic } /* Comment.Single */
  .cs { color: #999999; font-style: italic } /* Comment.Special */
  .gd { color: #ffffff; background-color: #ffdddd } /* Generic.Deleted */
  .ge { color: #ffffff; font-style: italic } /* Generic.Emph */
  .gr { color: #aa0000 } /* Generic.Error */
  .gh { color: #999999 } /* Generic.Heading */
  .gi { color: #ffffff; background-color: #ddffdd } /* Generic.Inserted */
  .go { color: #888888 } /* Generic.Output */
  .gp { color: #555555 } /* Generic.Prompt */
  .gs {} /* Generic.Strong */
  .gu { color: #aaaaaa } /* Generic.Subheading */
  .gt { color: #aa0000 } /* Generic.Traceback */
  .kc { color: #ffffff;} /* Keyword.Constant */
  .kd { color: #ffffff;} /* Keyword.Declaration */
  .kn { color: #ffffff;} /* Keyword.Namespace */
  .kp { color: #ffffff;} /* Keyword.Pseudo */
  .kr { color: #ffffff;} /* Keyword.Reserved */
  .kt { color: #445588;} /* Keyword.Type */
  .m { color: #009999 } /* Literal.Number */
  .s { color: #E6DB74 } /* Literal.String */
  .na { color: #A6E22E } /* Name.Attribute */
  .nb { color: #66D9EF } /* Name.Builtin */
  .nc { color: #445588;} /* Name.Class */
  .no { color: #A6E22E } /* Name.Constant */
  .nd { color: #3c5d5d;} /* Name.Decorator */
  .ni { color: #AE81FF } /* Name.Entity */
  .ne { color: #990000;} /* Name.Exception */
  .nf { color: #990000;} /* Name.Function */
  .nl { color: #990000;} /* Name.Label */
  .nn { color: #555555 } /* Name.Namespace */
  .nt { color: #F92672 } /* Name.Tag */
  .nv { color: #A6E22E } /* Name.Variable */
  .ow { color: #ffffff;} /* Operator.Word */
  .w { color: #bbbbbb } /* Text.Whitespace */
  .mf { color: #009999 } /* Literal.Number.Float */
  .mh { color: #009999 } /* Literal.Number.Hex */
  .mi { color: #009999 } /* Literal.Number.Integer */
  .mo { color: #009999 } /* Literal.Number.Oct */
  .sb { color: #E6DB74 } /* Literal.String.Backtick */
  .sc { color: #E6DB74 } /* Literal.String.Char */
  .sd { color: #E6DB74 } /* Literal.String.Doc */
  .s2 { color: #E6DB74 } /* Literal.String.Double */
  .se { color: #E6DB74 } /* Literal.String.Escape */
  .sh { color: #E6DB74 } /* Literal.String.Heredoc */
  .si { color: #E6DB74 } /* Literal.String.Interpol */
  .sx { color: #E6DB74 } /* Literal.String.Other */
  .sr { color: #009926 } /* Literal.String.Regex */
  .s1 { color: #E6DB74 } /* Literal.String.Single */
  .ss { color: #990073 } /* Literal.String.Symbol */
  .bp { color: #999999 } /* Name.Builtin.Pseudo */
  .vc { color: #A6E22E } /* Name.Variable.Class */
  .vg { color: #A6E22E } /* Name.Variable.Global */
  .vi { color: #A6E22E } /* Name.Variable.Instance */
  .il { color: #009999 } /* Literal.Number.Integer.Long */
}