/*doc
---
title: Barrier-free Accessibility
name: g-accessibility
category: Design Principles - Barrier-free Accessibility
---

All of the Confederation’s Internet resources must be designed in such a way as to enable people with disabilities to use them without restrictions. The Federal Administration is committed to fulfilling the requirements of the “Web Content Accessibility Guidelines (WCAG) 2.0” to conformance level AA.

Additional Information:

[Web Content Accessibility Guidelines (WCAG) 2.0](http://www.w3.org/TR/WCAG20/)

[The Guidelines of the Confederation (P028)](https://www.isb.admin.ch/isb/de/home/ikt-vorgaben/prozesse-methoden/p028-richtlinien_bund_gestaltung_barrierefreie_internetangebote.html)

*/