/*doc
---
title: Sample Pages
name: d-samplepages
category: Design Principles - Sample Pages
---

Ten different sample pages are shown in the Confederation Web Guidelines, all of them based on the page types “Home page” and “Content Page”. They were created in the course of the EDA, VBS, and BFS (Federal Statistic Office) projects, and they exemplify how the various elements presented can be combined on web pages. These sample pages can be used as the basis for a project and can be adapted, expanded, or modified as required.

## Home Page with Global Navigation

This sample page is suitable for websites with a large volume of information (“large websites”, such as www.eda.admin.ch or www.vbs.admin.ch). The global navigation (first navigation level) is combined with a mega flyout menu (second and possibly also third navigation level). The first and second navigation levels serve to group the content and have no content of their own.

## Home Page without Global Navigation

Websites with a lower volume of information (such as the websites of the Swiss embassies) use the home page without global navigation. In such cases the user accesses the content directly via the left sidebar sub-navigation.

## Sub-Home Page

Sub-home pages make it possible to use all the elements of the home page on pages that are on a lower navigation level. They are intended to allow subordinate organizational units to have their own home page. Every sub-home page has a left sidebar. There is no context pane. A sub-home page can have its own short URL (e.g. www.luftwaffe.ch) to allow direct access.

## Overview Page

The overview page is based on the content page type, so it has a global navigation section, a left sidebar, and a context pane. It is used to provide a conspicuous point of access to a topic. The various sections of this topic or the subpages (child pages) are introduced in a two-column list of teasers in the middle section.

## Navigation Page

This page type is used as a fallback solution for browsers that do not support JavaScript and therefore cannot use the global navigation. This page type is also shown when a user views a navigation node containing no content of its own.

## Detail Page

The detail page is a classical content page with an article in the middle column.

## Unattached Detail Page

When a detail page is not rooted in the navigation but was accessed via a link in the content of a page on a higher navigation level, it is provided with a “Back to…” link.

## Publications Page

A publications page is a special unattached detail page on which a publication is presented and can be ordered by the user. The right column contains a shopping cart for this purpose.

## Search Results

The search results page does not contain left sidebar navigation. The search results are placed on the three columns on the right of the basic grid.

## Webform Page

The sample page for webforms shows how a form and its navigation process look on a page.

*/