/*doc
---
title: Shopping Cart
name: b-shoppingcart
category: Content Modules - Ordering and Check-out
---

By default, the shopping cart is not shown. Only after an object has been added to the shopping cart does the latter appear in the context pane. It then remains visible until it is either completely deleted or the purchase is finalized.

<br>
<div class="alert alert-warning">

  **2.5.0**

  - added `span.sr-only` to the delete icon

</div>

```html_example
<div class="row">
  <div class="col-sm-4 col-sm-offset-8">
    <aside class="cart">
      <h4>Shopping Cart (3 items)</h4>
      <ul class="list-unstyled">
        <li class="clearfix">
          <span class="pull-left">Lorem ipsum product name a bit longer at <b>CHF 45.-</b></span>
          <a class="pull-right" href="#">
            <span class="icon icon--after icon--trash"><span class="sr-only">delete</span></span>
          </a>
        </li>
        <li class="clearfix">
          <span class="pull-left">Lorem ipsum <b>CHF 45.-</b></span>
          <a class="pull-right" href="#">
            <span class="icon icon--after icon--trash"><span class="sr-only">delete</span></span>
          </a>
        </li>
        <li class="clearfix">
          <span class="pull-left">Lorem ipsum <b>CHF 45.-</b></span>
          <a class="pull-right" href="#">
            <span class="icon icon--after icon--trash"><span class="sr-only">delete</span></span>
          </a>
        </li>
      </ul>
      <p>Total price <b>CHF 135.-</b></p>
      <p><a class="icon icon--before icon--cart" href="#">Show Shopping Cart</a></p>
    </aside>
  </div>
</div>
```

*/

.cart {
  @media only screen and (min-width: $screen-md-min) {
    border: 1px solid $silver;
    padding: 0 0.8em 0.8em 0.8em;
  }
  ul {
    border-top: 1px solid $silver;
  }
  li {
    margin-left: 0;
    margin-top: 0.4em;
    border-bottom: 1px solid $silver;
    min-height: 25px;
    padding-bottom: 3px;
    > span {
      display: block;
      width: 80%;
    }
  }
}