// Flat COLORS
$turquoise:        #1ABC9C;
$greenSea:         #16A085;
$emerald:          #2ECC71;
$nephritis:        #27AE60;
$peterRiver:       #3498DB;
$belizeHole:       #2980B9;
$amethyst:         #9B59B6;
$wisteria:         #8E44AD;
$wetAsphalt:       #34495E;
$midnightBlue:     #2C3E50;
$sunFlower:        #F1C40F;
$orange:           #F39C12;
$carrot:           #E67E22;
$pumpkin:          #D35400;
$pomegranate:      #C0392B;
$clouds:           #ECF0F1;
$silver:           #BDC3C7;
$concrete:         #95A5A6;
$asbestos:         #7F8C8D;

// Cortana COLORS
$white:            #fff;
$black:            #000;
$mine:             #333;
$night:            saturate(darken($midnightBlue, 13%), 50%);

// Cortana FONTS
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

@font-face {
    font-family: 'Frutiger Neue Bold';
    src: url('../fonts/FrutigerNeueW02-Bd.eot?v2');
    src: url('../fonts/FrutigerNeueW02-Bd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FrutigerNeueW02-Bd.woff?v2') format('woff'),
         url('../fonts/FrutigerNeueW02-Bd.ttf?v2') format('truetype'),
         url('../fonts/FrutigerNeueW02-Bd.svg#fnb') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue Italic';
    src: url('../fonts/FrutigerNeueW02-It.eot?v2');
    src: url('../fonts/FrutigerNeueW02-It.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FrutigerNeueW02-It.woff?v2') format('woff'),
         url('../fonts/FrutigerNeueW02-It.ttf?v2') format('truetype'),
         url('../fonts/FrutigerNeueW02-It.svg#fnb') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue Regular';
    src: url('../fonts/FrutigerNeueW02-Regular.eot?v2');
    src: url('../fonts/FrutigerNeueW02-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FrutigerNeueW02-Regular.woff?v2') format('woff'),
         url('../fonts/FrutigerNeueW02-Regular.ttf?v2') format('truetype'),
         url('../fonts/FrutigerNeueW02-Regular.svg#fnb') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Frutiger Neue Light';
    src: url('../fonts/FrutigerNeueW02-Light.eot?v2');
    src: url('../fonts/FrutigerNeueW02-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FrutigerNeueW02-Light.woff?v2') format('woff'),
         url('../fonts/FrutigerNeueW02-Light.ttf?v2') format('truetype'),
         url('../fonts/FrutigerNeueW02-Light.svg#fnb') format('svg');
    font-weight: normal;
    font-style: normal;
}

$mainFont:         'Frutiger Neue Regular', sans-serif;
$boldFont:         'Frutiger Neue Bold', sans-serif;
$italicFont:       'Frutiger Neue Italic', sans-serif;
$lightFont:        'Frutiger Neue Light', sans-serif;
$codeFont:         Monaco, monospace;

// SWISS ADMIN CUSTOM
$alizarin:         #DC0018;
$softBlue:         #f2f1ea;