<!doctype html>
<!--[if lt IE 7 ]> <html lang="{{data 'locale'}}" class="no-js ie6 oldie" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7 ]>    <html lang="{{data 'locale'}}" class="no-js ie7 oldie" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 8 ]>    <html lang="{{data 'locale'}}" class="no-js ie8 oldie" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 9 ]>    <html lang="{{data 'locale'}}" class="no-js ie9" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if gt IE 9 ]><!--><html lang="{{data 'locale'}}" class="no-js no-ie" itemscope itemtype="http://schema.org/WebPage"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{#if category}}{{t category}}, {{/if}}{{#if title}}{{t title}}, {{/if}}{{t 'styleguide.title'}}</title>

  <!-- Source CSS -->
  <link rel="stylesheet" href="{{#if baseurl}}{{baseurl}}/{{/if}}../css/vendors.css">
  <link rel="stylesheet" href="{{#if baseurl}}{{baseurl}}/{{/if}}../css/admin.css">
  <link rel="stylesheet" href="{{#if baseurl}}{{baseurl}}/{{/if}}../css/print.css">

  <!-- Styleguide CSS -->
  {{#if fabricator}}<link rel="stylesheet" href="{{#if baseurl}}{{baseurl}}/{{/if}}../css/fabricator.css">{{/if}}

  <!-- Favicons -->
  <link rel="shortcut icon" href="{{#if baseurl}}{{baseurl}}/{{/if}}../img/ico/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="{{#if baseurl}}{{baseurl}}/{{/if}}../img/ico/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{#if baseurl}}{{baseurl}}/{{/if}}../img/ico/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{#if baseurl}}{{baseurl}}/{{/if}}../img/ico/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{#if baseurl}}{{baseurl}}/{{/if}}../img/ico/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{#if baseurl}}{{baseurl}}/{{/if}}../img/ico/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{#if baseurl}}{{baseurl}}/{{/if}}../img/ico/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{#if baseurl}}{{baseurl}}/{{/if}}../img/ico/apple-touch-icon-76x76.png">
  <link rel="icon" type="image/png" href="{{#if baseurl}}{{baseurl}}/{{/if}}../img/ico/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="{{#if baseurl}}{{baseurl}}/{{/if}}../img/ico/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="{{#if baseurl}}{{baseurl}}/{{/if}}../img/ico/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{#if baseurl}}{{baseurl}}/{{/if}}../img/ico/mstile-144x144.png">
  <meta name="msapplication-config" content="{{#if baseurl}}{{baseurl}}/{{/if}}../img/ico/browserconfig.xml">
</head>
<body>

  <script>
    // Make translated strings available for search.js
    window.translations = {
        'global-search': {
            'nothing-found': "{{t 'styleguide.global-search.nothing-found'}}"
        }
    }
  </script>

  <ul class="access-keys">
    <li><a href="index.html" accesskey="0">{{t 'styleguide.homepage'}}</a></li>
    <li><a href="#main-navigation" accesskey="1">{{t 'styleguide.main-navigation'}}</a></li>
    <li><a href="#content" accesskey="2">{{t 'styleguide.content'}}</a></li>
  </ul>

  {{#if fabricator}}
    <div class="container container-main">
      {{> f-header}}
      {{> f-menu}}
      <div class="row">
        <div class="col-xs-12">
          <div id="content" class="container-fluid">
  {{/if}}

  {% body %}

  {{#if fabricator}}
          </div>
        </div>
      </div>

      {{> f-footer}}
    </div>
  {{/if}}

  <!-- Source Scripts -->
  <script src="{{#if baseurl}}{{baseurl}}/{{/if}}../js/vendors.min.js"></script>
  <script src="{{#if baseurl}}{{baseurl}}/{{/if}}../js/main.min.js"></script>

  <!-- Styleguide Scripts -->
  <script src="{{#if baseurl}}{{baseurl}}/{{/if}}../js/fabricator.min.js"></script>

</body>
</html>
