<!doctype html>
<!--[if lt IE 7 ]> <html lang="{{data 'locale'}}" class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7 ]>    <html lang="{{data 'locale'}}" class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8 ]>    <html lang="{{data 'locale'}}" class="no-js ie8 oldie"> <![endif]-->
<!--[if IE 9 ]>    <html lang="{{data 'locale'}}" class="no-js ie9"> <![endif]-->
<!--[if gt IE 9 ]><!--><html lang="{{data 'locale'}}" class="no-js no-ie"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  {{log this}}

	<title>{{#if category}}{{t category}} {{/if}}, {{#if title}}{{t title}}, {{/if}}{{t 'styleguide.title'}}</title>

  <!-- Styleguide CSS -->
	{{#if fabricator}}<link rel="stylesheet" href="/css/fabricator.css">{{/if}}

	<!-- Source CSS -->
  <link rel="stylesheet" href="/css/vendors.css">
  <link rel="stylesheet" href="/css/admin.css">
	<link rel="stylesheet" href="/css/print.css">

  <!-- Favicons -->
  <link rel="shortcut icon" href="/img/ico/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/img/ico/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/ico/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/ico/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/ico/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/ico/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/ico/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/ico/apple-touch-icon-76x76.png">
  <link rel="icon" type="image/png" href="/img/ico/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/img/ico/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/img/ico/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/img/ico/mstile-144x144.png">
  <meta name="msapplication-config" content="/img/ico/browserconfig.xml">

  <!--[if lt IE 9]>
    <script src="/js/polyfills.min.js"></script>
  <![endif]-->
</head>
<body>
  <ul class="access-keys" role="navigation">
    <li><a href="index.html" accesskey="0">{{t 'styleguide.homepage'}}</a></li>
    <li><a href="#main-navigation" accesskey="1">{{t 'styleguide.main-navigation'}}</a></li>
    <li><a href="#content" accesskey="2">{{t 'styleguide.content'}}</a></li>
  </ul>

	{{#if fabricator}}
		<div class="container container-main">
      {{> f-header}}
			{{> f-menu}}
      <div class="row">
        <div class="col-xs-12">
          <div id="content" class="container-fluid">
	{{/if}}

	{% body %}

	{{#if fabricator}}
          </div>
        </div>
      </div>

      {{> f-footer}}
		</div>
	{{/if}}

  <!-- Source Scripts -->
  <script src="/js/vendors.min.js"></script>
  <script src="/js/main.min.js"></script>

  <!-- Styleguide Scripts -->
	<script src="/js/fabricator.min.js"></script>

</body>
</html>
